$primary-backgroundColor: #ea4747;
$secondary-backgroundColor: #81c8d8;
$tertiary-backgroundColor: #358496;
$quaternary-backgroundColor: #ffffff;

$primary-textColor: #478390;
$secondary-textColor: #000000;
$tertiary-textColor: #ffffff;

$gray-textColor: #b5b5b5;
$borderColor: #e7f0f2;
$arrowColor: #503737;
$arrowColor-hover: #6e4b4b;
$button-backgroundColor: #e7f0f2;
$button-hover-backgroundColor: white;
$button-danger-backgroundColor: #923434;
$button-danger-hover-backgroundColor: #a53737;
$title-shadowColor: #256b7a;
